@import "parts/_cards.scss";
@import "parts/_code.scss";
@import "parts/_header.scss";
@import "parts/_image.scss";
@import "parts/_toc.scss";
@import "parts/_note.scss";
@import "parts/_misc.scss";
@import "parts/_table.scss";
@import "parts/_tags.scss";
@import "parts/_mermaid.scss";
@import "parts/_search.scss";


:root {
  /* Used for: block comment, hr, ... */
  --border-color: var(--border-color);

  /* Fonts */
  --text-font: 'Jetbrains Mono';
  --header-font: 'Space Grotesk', 'Helvetica', sans-serif;
  --code-font: 'Jetbrains Mono';
}

html {
  background-color: var(--bg-0);
  color: var(--text-0);
  font-family: var(--text-font);
  line-height: 1.6em;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
  word-wrap: break-word;
}

@media all and (min-width:640px) {
  html {
    font-size: 16.5px;
  }
}

@media all and (min-width:720px) {
  html {
    font-size: 17px;
  }
}

@media all and (min-width:960px) {
  html {
    font-size: 18px;
  }
}
