<header>
    <div class="main">
        <a href={{ config.base_url }}>{{ config.title }}</a>

        <div class="socials">
            {% for social in config.extra.socials %}
            <a rel="me" href="{{ social.url }}" class="social">
                <img alt={{ social.name }} src={{ get_url(path="social_icons/" ~ social.icon ~ ".svg") }}>
            </a>
            {% endfor %}
        </div>
    </div>

    <nav>
        {% for menu in config.extra.menu %}
        <a href={{ get_url(path=menu.url) }} style="margin-left: 0.7em">{{ menu.name }}</a>
        {% endfor %}

        {% if config.extra.theme == "toggle" %}
        <a id="dark-mode-toggle" onclick="toggleTheme(); event.preventDefault();" href="#">
            <img src={{ get_url(path="feather/sun.svg") }} id="sun-icon" style="filter: invert(1);" alt="Light" />
            <img src={{ get_url(path="feather/moon.svg") }} id="moon-icon" alt="Dark" />
        </a>
        <script src={{ get_url(path="js/themetoggle.js") }}></script>
        {% endif %}
    </nav>
</header>
