<header>
    <div class="main">
        <a href={{ config.base_url }}>{{ config.title }}</a>

        <div class="socials">
            {% for social in config.extra.socials %}
            <a href="{{ social.url }}" class="social">
                <img alt={{ social.name }} src="/social_icons/{{ social.icon }}.svg">
            </a>
            {% endfor %}
        </div>
    </div>

    <nav>
        {% for menu in config.extra.menu %}
            <a href={{ menu.url }} style="margin-left: 0.7em">{{ menu.name }}</a>
        {% endfor %}
    </nav>
</header>