<header>
    <div class="site-info">
        <a class="site-title" href={{ config.base_url }}>{{ config.title }}</a>

        <div class="site-description">
            {{ config.description }}
        </div>
    </div>

    <nav class="site-menu">
        {% for menu in config.extra.menu %}
        <a class="site-menu-entry" href={{ menu.url }}>{{ menu.name }}</a>
        {% endfor %}
    </nav>

    {% if config.extra.socials %}
    <div class="socials">
        {% for social in config.extra.socials %}
        <a href="{{ social.url }}" class="social">
            <img alt={{ social.name }} src="/social_icons/{{ social.icon }}.svg">
        </a>
        {% endfor %}
    </div>
    {% endif %}
</header>