:root {
    --text-0: #f5f5f5;
    --text-1: #e2e2e2;

    --bg-0: #5f6b75;
    --bg-1: #292d30;
    --bg-2: #171a1d;
    --accent-bg: #44494e;
    --bg-noise-image: url(/images/noise_dark.png);

    --primary-color: #96493f;
    --hover-color: #96493f;
    --accent-color: #828e99;
}