:root {
    --text-0: #1a1a1a;
    --text-1: #242424;

    --bg-0: #d6d6d6;
    --bg-1: #f8f8f8;
    --bg-2: #d3d5d8;
    --accent-bg: #f5f5dc;
    --bg-noise-image: url(/images/noise_light.png);

    --primary-color: #b34e41;
    --hover-color: #b34e41;
    --accent-color: #dbcb9f;
}