@import "parts/code.css";
@import "parts/header.css";
@import "parts/image.css";
@import "parts/misc.css";
@import "parts/table.css";
@import "parts/tags.css";

:root {
  /* Used for: block comment, hr, ... */
  --border-color: var(--bg-1);

  /* Fonts */
  --text-font: 'Jetbrains Mono';
  --header-font: 'Space Grotesk';
  --code-font: 'Jetbrains Mono';
}

html {
  background-color: var(--bg-0);
  color: var(--text-0);
  font-family: var(--text-font);
  font-size: 15px;
  line-height: 1.6em;
}

.content {
  max-width: 944px;
  margin: 0 auto;
  padding: 0 24px;
  word-wrap: break-word;
}