.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    gap: 24px;
    padding: 12px 0;
}

@supports (grid-template-rows: masonry) {
    .cards {
        /* currently masonry layout is only supported in firefox with option `layout.css.grid-template-masonry-value.enabled` set to true,
        see https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Masonry_Layout. */
        grid-template-rows: masonry;
    }
}

.card {
    min-height: 200px;
    background: linear-gradient(30deg, var(--bg-2) -50%, var(--bg-1) 130%);
    border: 1px solid var(--bg-2);
    border-radius: 10px;
    overflow: hidden;
}

.card-info {
    padding: 0px 24px 24px 24px;
}

.card-title {
    margin-top: 0.7em;
}

.card-image {
    border: unset;
    width: 100%;
}

.card-image-placeholder {
    height: 12px;
    width: 100%;
}

.card-description {
    margin-top: 0.5em;
    overflow: hidden;
}

@media all and (max-width:720px) {
    .cards {
        gap: 18px;
    }
}