pre {
    padding: 1em;
    border-radius: 4px;
    position: relative;
    font-family: var(--code-font);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

code {
    background-color: var(--bg-0);
    padding: 0px 3px;
    border-radius: 4px;
    font-size: 0.9rem;
}

pre code {
    background-color: transparent;
    color: inherit;
    padding: 0;
}

pre code[class*="language-"] {
    -webkit-overflow-scrolling: touch;
}

pre code[class*="language-"]::before {
    font-size: smaller;
    background: black;
    border-radius: 0 0 3px 3px;
    color: white;
    padding: 0.1em 1ch;
    position: absolute;
    text-align: right;
    text-transform: uppercase;
    right: 2px;
    top: 2px;
}

pre code[class="language-javascript"]::before,
pre code[class="language-js"]::before {
    content: "js";
    background: gold;
    color: black;
}

pre code[class*="language-yml"]::before,
pre code[class*="language-yaml"]::before {
    content: "yaml";
    background: indianred;
    color: white;
}

pre code[class*="language-shell"]::before,
pre code[class*="language-bash"]::before,
pre code[class*="language-sh"]::before {
    content: "shell";
    background: green;
    color: white;
}

pre code[class*="language-json"]::before {
    content: "json";
    background: dodgerblue;
    color: black;
}

pre code[class*="language-python"]::before,
pre code[class*="language-py"]::before {
    content: "py";
    background: blue;
    color: yellow;
}

pre code[class*="language-css"]::before {
    content: "css";
    background: cyan;
    color: black;
}

pre code[class*="language-go"]::before {
    content: "Go";
    background: cyan;
    color: royalblue;
}

pre code[class*="language-md"]::before {
    content: "Markdown";
    background: royalblue;
    color: whitesmoke;
}

pre code[class*="language-rust"]::before,
pre code[class*="language-rs"]::before {
    content: "rust";
    background: black;
    color: darksalmon;
}

pre code[class*="language-c"]::before {
    content: "C";
    background: black;
    color: lime;
}

pre code[class*="language-cpp"]::before {
    content: "C++";
    background: black;
    color: aqua;
}