// Icon button component - reusable button with optional icon
.icon-button {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  gap: 3px;
  background: var(--bg-2);
  font-size: 0.75rem;
  color: var(--text-color);

  /* Ensure that the a tag has also a bottom border, which is by default hidden */
  border: 1px solid var(--border-color) !important;
  border-radius: 6px;

  svg,
  img {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
  }

  img {
    filter: var(--icon-filter);
  }

  &:hover {
    cursor: pointer;
    background: var(--bg-1);
    color: var(--text-color);

    // FIXME: Exclude this in the `main a` tag which adds it's own underline
    border: 1px solid var(--border-color);
  }
}
