.item-title {
    margin-bottom: 0.4em;
}

.item-title:before {
    content: "🗎 ";
    font-size: smaller;
}

.item-title:hover {
    color: var(--hover-color);
}

.item-title:hover:before {
    color: var(--hover-color);
}

.page-title {
    font-family: var(--header-font);
    font-size: 2.5em;
    line-height: 100%;
    margin-bottom: 0.4em;
}

.link-title {
    font-family: var(--header-font);
    font-size: 2em;
    text-align: center;
    margin: 1.0em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    font-size: 1.5rem;
    margin-top: 1.5em;
}

article h1::before {
    margin-left: -0.5ch;
    color: var(--text-1);
    content: "# ";
}

article h2::before {
    margin-left: -0.5ch;
    color: var(--text-1);
    content: "## ";
}

article h3::before {
    margin-left: -0.5ch;
    color: var(--text-1);
    content: "### ";
}

article h4::before {
    margin-left: -0.5ch;
    color: var(--text-1);
    content: "#### ";
}

article h5::before {
    margin-left: -0.5ch;
    color: var(--text-1);
    content: "##### ";
}

article h6::before {
    margin-left: -0.5ch;
    color: var(--text-1);
    content: "###### ";
}

.meta {
    color: #999;
    letter-spacing: -0.5px;
}