.tags {
  ul {
    margin-left: 0;
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    border-bottom: 3px solid var(--primary-color);
    font-family: var(--text-font);
  }

  a:hover {
    color: var(--hover-color);
    background-color: var(--primary-color);
  }

  a::before {
    content: "🏷 "; /* Ensure there's a space after the emoji for spacing */
    display: inline;
    white-space: nowrap !important;
  }
}
