{% macro list_post(page) %}
    {% set post_url = page.extra.link_to | default(value=page.permalink) %}
    <li class="list-item">
        <section>
            <div class="post-header">
                <time>{{ page.date | date(format="%Y-%m-%d") }}</time>

                <div>
                    <h1 class="title">
                        <a href="{{ post_url | safe }}">{{ page.title }}{% if page.extra.link_to %} ↗{% endif %}</a>

                        {% if page.draft %}
                            <span class="draft-label">DRAFT</span>
                        {% endif %}
                    </h1>

                    <div class="meta">
                        <div class="description">
                            {% if page.description %}
                                {{ page.description }}
                            {% elif page.summary %}
                                {{ page.summary | safe }}&hellip;
                            {% else %}
                                {% set hide_read_more = true %}
                            {% endif %}
                        </div>

                        {% if not hide_read_more %}
                            <a class="readmore" href="{{ post_url | safe }}">
                                {% if page.extra.link_to %}Read original ⟶{% else %}Read more ⟶{% endif %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </li>
{% endmacro list_post %}

{% macro list_posts(pages) %}
    <ul>
        {%- for page in pages %}
            {{ post_macros::list_post(page=page) }}
        {% endfor -%}
    </ul>
{% endmacro list_posts %}

{% macro page_header(title) %}
    {% if title %}
        <div class="page-header">
            {{ title }}
        </div>
    {% endif %}
{% endmacro page_header %}

{% macro site_title() %}
    {{ config.title | default(value="Home") }}
{% endmacro %}
