{% macro list_posts(pages, n_pages) %}
    {%- for page in pages | slice(end=n_pages) %}
        <div class="list-item">
            <h1 class="item-title">
                {% if page.extra.link_to %}
                <a href={{ page.extra.link_to }}>{{page.title}}</a>
                {% else %}
                <a href={{ page.permalink }}>{{page.title}}</a>
                {% endif %}
            </h1>
            {% if page.extra.banner_image %}
                {% if page.extra.banner_image is matching("[.](jpg|png)$") %}
                    {% set image = resize_image(path=page.extra.banner_image, width=1200, op="fit_width") %}
                    <img class="banner-image" alt={{ page.extra.banner_image }} src="{{ image.url }}">
                {% else %}
                    <img class="banner-image" alt={{ page.extra.banner_image }} src="{{ get_url(path=page.extra.banner_image) }}">
                {% endif %}
            {% endif %}

            <div class="meta">
                {%- if page.date %}
                    <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
                {% endif -%}
                {% if page.draft %}
                    <span class="draft-label">DRAFT</span> 
                {% endif %}
                {{ macros::tags(page=page) }}
            </div>

            {% if page.description %}
                <div class="description">{{ page.description }}</div>
                {% set hide_read_more = true %}
            {% elif page.summary %}
                <div class="summary">{{ page.summary | safe }}</div>
            {% else %}
                {% set hide_read_more = true %}
            {% endif %}

            {% if not hide_read_more %}
                <a class="readmore-link" href={{ page.permalink }}>Read more ..</a>
            {% endif %}
        </div>
    {% endfor -%}
{% endmacro list_posts %}

{% macro cards_posts(pages) %}
    <div class="cards">
    {%- for page in pages %}
        <div class="card">
            {% if page.extra.card_image %}
                {% if page.extra.card_image is matching("[.](jpg|png)$") %}
                    {% set image = resize_image(path=page.extra.card_image, width=800, op="fit_width") %}
                    <img class="card-image" alt={{ page.extra.card_image }} src="{{ image.url }}">
                {% else %}
                    <img class="card-image" alt={{ page.extra.card_image }} src="{{ get_url(path=page.extra.card_image) }}">
                {% endif %}
            {% else %}
                <div class="card-image-placeholder"></div>
            {% endif %}

            <div class="card-info">
                <h1 class="card-header">
                    {% if page.extra.link_to %}
                    <a href={{ page.extra.link_to }}>{{page.title}}</a>
                    {% else %}
                    <a href={{ page.permalink }}>{{page.title}}</a>
                    {% endif %}
                </h1>

                <div class="meta">
                    {%- if page.date %}
                        <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
                    {% endif -%}
                    {% if page.draft %}
                        <span class="draft-label">DRAFT</span> 
                    {% endif %}
                    {{ macros::tags(page=page) }}
                </div>

                {% if page.description %}
                    <div class="card-description">{{ page.description }}</div>
                {% endif %}
            </div>
        </div>

    {% endfor -%}
    </div>
{% endmacro cards_posts %}

{% macro list_section(section) %}
    <ul class="list">
    {%- for page in section.pages %}
        <div class="list-item">
            <h1 class="item-title">
                {% if page.extra.link_to %}
                <a href={{ page.extra.link_to }}>{{page.title}}</a>
                {% else %}
                <a href={{ page.permalink }}>{{page.title}}</a>
                {% endif %}
            </h1>

            <div class="meta">
                {%- if page.date %}
                    <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
                {% endif -%}
                {% if page.draft %}
                    <span class="draft-label">DRAFT</span> 
                {% endif %}
                {{ macros::tags(page=page) }}
            </div>
        </div>
    {% endfor -%}
    </ul>
{% endmacro list_section %}

{% macro content(page) %}
<main>
    {% if page.extra.link_to %}
    <meta http-equiv="refresh" content="0; url={{page.extra.link_to}}">
    <div class="link-title">
        <a href={{ page.extra.link_to }}>{{page.extra.link_to}}</a>
    </div>
    {% else %}
    <article>
        <div>
            {% if page.extra.banner_image %}
                {% if page.extra.banner_image is matching("[.](jpg|png)$") %}
                    {% set image = resize_image(path=page.extra.banner_image, width=1200, op="fit_width") %}
                    <img class="banner-image" alt={{ page.extra.banner_image }} src="{{ image.url }}">
                {% else %}
                    <img class="banner-image" alt={{ page.extra.banner_image }} src="{{ get_url(path=page.extra.banner_image) }}">
                {% endif %}
            {% endif %}

            <div class="page-title">{{ page.title }}</div>

            <div class="meta">
                {% if page.date %}
                    <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
                {% endif %}

                {% if page.draft %}
                    <span class="draft-label">DRAFT</span> 
                {% endif %}
                {{ macros::tags(page=page) }}
            </div>
        </div>

        {% if page.extra.tldr %}
            <div class="tldr">
                <strong class="primary-color">tl;dr:</strong><br>
                {{ page.extra.tldr }}
            </div>
        {% endif %}

        {# Optional table of contents #}
        {% if page.extra.toc | default(value=false) %}
            {% if page.toc %}
            <div class="toc">
                <h1>Table of Contents</h1>
                <ul>
                {% for h1 in page.toc %}
                    <li>
                        <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                        {% if h1.children %}
                            <ul>
                                {% for h2 in h1.children %}
                                    <li>
                                        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                                    </li>

                                    {% if h2.children %}
                                    <ul>
                                        {% for h3 in h2.children %}
                                            <li>
                                                <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endif %}

        <section>
            {{ page.content | safe }}
        </section>
    </article>
    {% endif %}
</main>
{% endmacro content %}

{% macro tags(page, short=false) %}
    {%- if page.taxonomies and page.taxonomies.tags %}
        <span class="tags">
            {%- for tag in page.taxonomies.tags %}
                <small>
                    <a class="tag" href="{{ get_taxonomy_url(kind='tags', name=tag) | safe }}">{{ tag }}</a>
                </small>
            {% endfor -%}
        </span>
    {% endif -%}
{% endmacro tags %}

{% macro gallery(assets) %}
<div class="gallery">
{% for asset in assets -%}
  {%- if asset is matching("[.](jpg|png)$") -%}
    {% set image = resize_image(path=asset, width=400, op="fit_width") %}
    <a class="gallery-image" href="{{ get_url(path=asset) }}" target="_blank">
    <img src="{{ image.url }}" />
    </a>
  {%- endif %}
{%- endfor %}
</div>
{% endmacro gallery %}